build
local.properties

# Gradle
.gradle

# Kotlin
.kotlin

# Android Studio
*.iml
.idea/*
/.idea/codeStyles/*
!/.idea/codeStyles
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml

# Fleet
.fleet

# XCode
xcuserdata/

# macOS
.DS_Store